@import url(pagination.css);
body {
  margin: 0px;
  padding: 0;
  background-color: rgb(125, 151, 236);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

.sep::before {
  background: radial-gradient(rgba(26, 25, 25, 0.562), rgba(1, 1, 1, 0.329), rgba(0, 0, 0, 0.014), rgba(0, 0, 0, 0));
  width: 100%;
  height: 2px;
  display: inline-block;
  content: "";
}

/* botones */
button,
input[type=button] {
  opacity: 0.9;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
button:hover,
input[type=button]:hover {
  opacity: 1;
}

.block-btn {
  width: 100%;
}

.primary-btn {
  padding: 10px;
  background-color: rgb(223, 90, 28);
  color: white;
  font-weight: bolder;
}
.primary-btn.revert {
  background-color: transparent;
  color: rgb(223, 90, 28);
  border: solid 2px rgb(223, 90, 28);
}

/* grillas */
.row {
  display: grid;
  grid-template-rows: auto;
}
.row.c-2 {
  grid-template-columns: auto auto;
}

/* header */
.header {
  background-color: rgb(223, 90, 28);
  color: white;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.header ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}
.header ul li {
  margin: 5px;
}
.header ul li a {
  color: aliceblue;
  text-decoration: none;
}

/* main */
section {
  padding: 20px;
}

.consultar {
  display: flex;
  justify-content: center;
}
.consultar div {
  text-align: center;
}

/* barra de busqueda */
.container-busqueda input[type=text] {
  border: 1px solid gray;
  padding: 5px 5px 5px 15px;
  border-radius: 20px 0 0 20px;
}
.container-busqueda input[type=button] {
  color: black;
  padding: 5px;
  border-radius: 0 20px 20px 0;
  border: 1px solid gray;
  border-left: none;
}
.container-busqueda input[type=button]:hover {
  background-color: black;
  color: white;
}

/* modulos */
.container-sect:not(.menu) {
  background-color: rgb(233, 233, 233);
}
.container-sect:not(.menu) .modulo {
  margin: 0px;
}
.container-sect:not(.menu) .modulo .empty-DB {
  text-align: center;
  margin: 10px;
  padding: 20px;
  border: solid black 2px;
  border-radius: 3px;
  color: black;
  opacity: 0.3;
}

/* formularios */
.ingresar {
  width: 400px;
  height: 400px;
  background-color: white;
  color: rgb(99, 101, 112);
}
.ingresar .form-selector {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  width: 130px;
  height: 40px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 20px 0px 10px 10px;
  position: absolute;
}
.ingresar .form-selector::before {
  font-size: medium;
  font-weight: bolder;
  width: 130px;
  height: 40px;
  transition: 0.2s;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ingresar .form-selector.coord {
  margin-left: 10px;
}
.ingresar .form-selector.coord::before {
  content: "Coord.";
}
.ingresar .form-selector.inst {
  margin-left: 135px;
}
.ingresar .form-selector.inst::before {
  content: "Inst.";
}
.ingresar .form-selector.cons {
  margin-left: 260px;
}
.ingresar .form-selector.cons::before {
  content: "Cons.";
}
.ingresar .form-selector:checked::before {
  background-color: rgba(128, 128, 128, 0.212);
}
.ingresar .form-selector:checked + .container-form {
  opacity: 1;
  z-index: 3;
}
.ingresar .container-form {
  width: 360px;
  height: 300px;
  margin-top: 60px;
  background-color: rgba(128, 128, 128, 0.212);
  position: absolute;
  opacity: 0;
  z-index: -1;
  padding: 20px;
}
.ingresar .container-form form {
  padding: 10px;
}
.ingresar .container-form form div {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ingresar .container-form form div .txt {
  background-color: transparent;
  border: solid 2px rgba(128, 128, 128, 0.26);
  height: 40px;
  width: 65%;
  border-radius: 3px;
}

/* menus */
.menu {
  background-color: white;
  text-align: center;
  width: 200px;
  left: -200px;
  position: fixed;
  height: 400px;
  transition: 0.7s;
}
.menu:hover {
  left: 0px;
}
.menu.menu::before {
  background-color: rgb(223, 90, 28);
  display: inline-block;
  border-radius: 0px 30px 30px 0px;
  width: 30px;
  height: 400px;
  z-index: 999;
  left: 200px;
  position: absolute;
  color: white;
  font-weight: bolder;
  text-align: center;
  text-justify: kashida;
  content: ">";
}
.menu span {
  display: block;
}
.menu ul {
  padding: 10px;
  list-style: none;
  display: inline-block;
}
.menu ul li {
  text-align: center;
  background-color: rgb(223, 90, 28);
  padding: 7px;
  margin: 7px;
  width: 150px;
  font-weight: bolder;
  border: solid 2px transparent;
}
.menu ul li:hover {
  border-color: blue;
}
.menu ul .selected {
  background-color: red;
}
.menu ul a {
  text-decoration: none;
  color: white;
}

/* tablas */
.container-table {
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.container-table table {
  overflow-x: scroll;
  margin: 10px auto;
  text-align: center;
  border-spacing: 0px;
  font-size: smaller;
}
.container-table table th {
  background-color: rgba(128, 128, 128, 0.712);
  border: solid 1px rgba(0, 0, 0, 0.226);
  padding: 5px;
}
.container-table table .libre {
  color: gainsboro;
}
.container-table table td:not(.input-cont, .scroll-table) {
  background-color: white;
  height: 42px;
  border: solid 1px rgba(0, 0, 0, 0.226);
  padding: 0px;
}
.container-table table tbody .registro .info {
  display: none;
}
.container-table table tbody .registro:hover {
  background-color: darkgray;
  cursor: none;
}
.container-table table tbody .registro:hover .info {
  position: relative;
  display: block;
  background-color: rgb(223, 90, 28);
  margin-top: 10px;
  margin-left: -6px;
  border-radius: 0px 7px 7px 7px;
  color: white;
  padding: 10px;
}
.container-table table tbody .registro:hover .info .dato {
  text-align: left;
}
.container-table table tbody .add form {
  display: flex;
}
.container-table table tbody .add form .input-cont input[type=text] {
  background-color: white;
  height: 42px;
  border: solid 1px rgba(0, 0, 0, 0.226);
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.container-table table tbody .scroll-table {
  height: 300px;
  overflow: scroll;
  display: inline-block;
  padding: 0px;
}
.container-table table tbody .scroll-table table {
  margin: 0px;
}
/* footer */
.footer {
  background-color: rgb(39, 39, 39);
  color: white;
  padding: 12px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .bottom {
  text-align: left;
  font-size: smaller;
  padding: 10px;
}/*# sourceMappingURL=index.css.map */